@tailwind base;
@tailwind components;
@tailwind utilities;

/* Глобальные стили для body */
body {
  transition: background-color; /* Плавный переход для фона и цвета */
}

/* Тёмная тема */
body.dark {
  background-color: #111827; /* Темный фон */
  color: white; /* Белый текст */
}

/* Светлая тема */
body.light {
  background-color: white; /* Светлый фон */
  color: black; /* Черный текст */
}

/* Специфичный стиль для Барбершоп N1 с градиентной тенью */
/* Стиль для текста "Барбершоп N1" */
.barbershop-text {
  font-weight: bold;
  transition: text-shadow 0.3s ease;
}

/* Тёмная тема - сохраняем текущие стили */
body.dark .barbershop-text {
  text-shadow: 
    0 0 10px rgba(0, 186, 255, 0.8),  /* Голубая тень */
    0 0 20px rgba(0, 186, 255, 0.6), 
    0 0 30px rgba(138, 43, 226, 0.8),  /* Фиолетовая тень */
    0 0 40px rgba(138, 43, 226, 0.6); /* Фиолетовая тень */
}

body.dark .barbershop-text:hover {
  text-shadow: 
    0 0 10px rgba(138, 43, 226, 0.8), /* Фиолетовая тень */
    0 0 20px rgba(138, 43, 226, 0.6),
    0 0 30px rgba(0, 186, 255, 0.8),  /* Голубая тень */
    0 0 40px rgba(0, 186, 255, 0.6); /* Голубая тень */
}

/* Светлая тема - изменённый стиль */
body.light .barbershop-text {
  text-shadow: 
    0 0 10px rgba(138, 43, 226, 0.8), /* Фиолетовая тень */
    0 0 20px rgba(138, 43, 226, 0.6),
    0 0 30px rgba(0, 186, 255, 0.8),  /* Голубая тень */
    0 0 40px rgba(0, 186, 255, 0.6); /* Голубая тень */
}

body.light .barbershop-text:hover {
  text-shadow: 
    0 0 10px rgba(0, 186, 255, 0.8),  /* Голубая тень */
    0 0 20px rgba(0, 186, 255, 0.6), 
    0 0 30px rgba(138, 43, 226, 0.8),  /* Фиолетовая тень */
    0 0 40px rgba(138, 43, 226, 0.6); /* Фиолетовая тень */
}


.status-not-completed {
  color: red;
  font-weight: bold;
}

/* CSS для зеленого статуса (выполнен) */
.status-completed {
  color: #00baff;
  font-weight: bold;
}
